<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로봇 팔 애플리케이션</title>
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/navbar.css">
    {% block head %}{% endblock %}
</head>

<body>
    <header>
        <nav>
            <div class="menu-icon" onclick="toggleMenu()">&#9776;</div>
            <div class="nav-links" id="nav-links">
                <a href="/">홈</a>
                <!-- 로그인 전용 기능 -->
                <a href="/item" id="item-link" style="display: none;">서랍</a>
                <a href="/stock" id="stock-link" style="display: none;">재고</a>
                <!-- 로그인/로그아웃 -->
                <a href="/login" id="login-link">로그인</a>
                <a href="/logout" id="logout-link" style="display: none;">로그아웃</a>
            </div>
        </nav>
    </header>
    <main class="container">
        {% block content %}{% endblock %}
    </main>
    <script>
        function toggleMenu() {
            const navLinks = document.querySelector('.nav-links');
            navLinks.classList.toggle('show');
        }

        // 로그인 상태 확인 및 메뉴 항목 표시
        document.addEventListener("DOMContentLoaded", function () {
            const username = document.cookie.split('; ').find(row => row.startsWith('username='));
            if (username) {
                const userNameValue = username.split('=')[1];
                document.getElementById('login-link').style.display = 'none';
                document.getElementById('logout-link').style.display = 'block';

                if (userNameValue === 'rbiz') {
                    document.getElementById('item-link').style.display = 'block';
                    document.getElementById('stock-link').style.display = 'block';
                }
            }
        });
    </script>
</body>

</html>