.dispenser-container-wrapper {
    display: flex;
    justify-content: center;
}

.dispenser-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
    width: 100%;
    max-width: 1200px;
}

.dispenser {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    width: 200px;
    text-align: center;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dispenser-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h3 {
    margin: 0;
    font-size: 1.2rem;
}

.close-dispenser {
    font-size: 2rem;
    font-weight: bold;
    color: #aaa;
    cursor: pointer;
    transition: color 0.3s ease;
}

.close-dispenser:hover {
    color: black;
}

.capsule-container {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* 아이콘을 세로 중앙에 위치 */
    height: 150px;
    /* 컨테이너의 높이를 설정 */
}

.item-icon {
    width: 80px;
    /* 아이콘의 너비를 80px로 설정 */
    height: 80px;
    /* 아이콘의 높이를 80px로 설정 */
    cursor: pointer;
    object-fit: contain;
    /* 아이콘의 비율을 유지하며 크기 조정 */
}

.add-dispenser {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 300px;
}

.add-dispenser h3 {
    font-size: 3rem;
    color: #888;
    margin: 0;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
}

input[type="text"] {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    background-color: #e0e0e0;
    color: black;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: #bbbbbb;
    color: white;
}